.header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
  border-radius: 10px;
}

.header-h1 {
  font-size: 2em;
  font-weight: bold;
  text-decoration: none;
  color: #343a40;

}

.image {
  margin-left: 15px;
}

h1 {
  margin: 0;
}

.header div {
  display: flex;
  margin-left: 20px;
}

.search input {
  margin: 5px 0;
  padding: 4px 5px;
}

.search button {
  padding: 5px;
}

.login {
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

@media (orientation: landscape) and (min-width:768px) {

  .header {
    justify-content: space-between;
    flex-wrap: nowrap;
  }

}
